* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background-color: #0B0F0F;
    font-family: sans-serif;
    line-height: 1.2;
}

p {
    font-size: 1.5rem;
}

a {
    color: #ffffff;
}

a:hover,
a:active {
    text-decoration: none;
}

/* Anti TikTok Union Div */
#anti-tiktok-union {
    height: 100vh;
    text-align: center;
    padding-top: 12.5vh;
    padding-bottom: 12.5vh;
}

.anti-tiktok-union-logo {
    width: 50vh;
    height: 50vh;
}

.anti-tiktok-union {
    font-size: 10vh;
}

.a-t-u {
    font-size: 7vh;
}

.scroll-to-faq-button {
    transform: rotate(180deg);
    background-color: transparent;
    border-color: transparent;
}

.scroll-to-faq-button,
.scroll-to-faq-button>img {
    z-index: -1;
    width: 0;
    height: 0;
}

/* FAQ */
.faq details {
    border: solid 0.1rem;
    border-radius: 1.6rem .8rem;
}

.faq .explaining-the-dangers-of-tiktok {
    border: solid 0.1rem;
    border-radius: 1rem;
}

#faq-desktop,
#faq-desktop * {
    opacity: 1;
    position: static;
    z-index: 0;
}

#faq-desktop {
    padding: 0 25%;
}

#faq-desktop>h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
    z-index: -1;
}

#faq-desktop h3 {
    font-size: 2rem;
}

#faq-desktop h4 {
    font-size: 1.75rem;
}

#faq-desktop p {
    margin-bottom: 2rem;
}

#faq-desktop details {
    padding: 1rem 2rem;
    margin-bottom: 2.5rem;
}


#faq-desktop .explaining-the-dangers-of-tiktok {
    text-align: center;
}

#faq-desktop .explaining-the-dangers-of-tiktok>summary {
    font-size: 1.5rem;
    cursor: pointer;
}

#faq-desktop .explaining-the-dangers-of-tiktok-div {
    padding-top: 2rem;
}

#faq-desktop .realMrPerson-youtube-logo {
    margin-bottom: -1rem;
}

#faq-desktop .atu-socials>a>img {
    margin-top: 1rem;
}

#faq-desktop .atu-socials>span {
    margin-top: 1.5rem;
    float: right;
}

#faq-mobile,
#faq-mobile * {
    opacity: 0;
    position: absolute;
    font-size: 0;
    margin: 0;
    padding: 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 0.25rem 15%;
}

footer>p {
    margin: 1.5rem 0;
}

/* Phone Screen Responsiveness */
@media (max-width: 768px) {

    body {
        line-height: 1.45;
    }
    
    p {
        font-size: 1.35rem;
    }

    /* Anti TikTok Union Div */
    #anti-tiktok-union {
        padding-top: 12.5vh;
        padding-top: 12.5vh;
    }

    .anti-tiktok-union-logo {
        width: 40vh;
        height: 40vh;
        max-width: 15rem;
        max-height: 15rem;
    }

    .anti-tiktok-union {
        font-size: 3.5rem;
        line-height: 1.1;
    }

    .a-t-u {
        font-size: 2.75rem;
        margin-bottom: 6.5vh;
    }

    .scroll-to-faq-button,
    .scroll-to-faq-button>img {
        z-index: 0;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
    }

    .scroll-to-faq-button {
        animation-name: scroll-to-faq-button-up-and-down;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    /* FAQ */
    #faq-desktop,
    #faq-desktop * {
        z-index: -1;
        opacity: 0;
        position: absolute;
        font-size: 0;
        margin: 0;
        padding: 0;
    }

    #faq-mobile,
    #faq-mobile * {
        opacity: 1;
        position: static;
        z-index: -1;
    }

    #faq-mobile {
        padding: 0 7.5%;
    }

    #faq-mobile>h2 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    #faq-mobile h3,
    #faq-mobile details>summary {
        font-size: 1.75rem;
    }

    #faq-mobile h4 {
        font-size: 1.55rem;
        /* font-weight: bold; */
    }

    #faq-mobile p {
        font-size: 1.35rem;
        margin-bottom: 2rem;
    }

    #faq-mobile details {
        padding: 1rem 1rem;
        margin-bottom: 2.5rem;
    }

    #faq-mobile details>summary {
        font-weight: bold;
        cursor: pointer;
    }

    #faq-mobile details>p {
        margin-top: 0.5rem;
    }

    #faq-mobile .explaining-the-dangers-of-tiktok {
        margin-bottom: 0.5rem;
    }

    #faq-mobile .explaining-the-dangers-of-tiktok>summary {
        font-size: 1.25rem;
    }

    #faq-mobile .explaining-the-dangers-of-tiktok-div {
        padding-top: 1.5rem;
    }

    #faq-mobile .explaining-the-dangers-of-tiktok-div>h4 {
        margin-bottom: 0.5rem;
    }

    #faq-mobile .realMrPerson-youtube-logo {
        margin-bottom: -1.05rem;
    }

    #faq-mobile .atu-socials {
        text-align: center;
        padding: 0;
    }

    #faq-mobile .atu-socials>p {
        margin: 0.5rem;
    }

    #faq-mobile .atu-socials>p:first-child {
        margin-top: 0.75rem;
    }

    #faq-mobile .atu-socials>p>span {
        margin-top: .5rem;
        font-size: 1.25rem;
    }

    /* Footer */
    footer {
        padding: 1rem 15%;
    }

    footer>p {
        margin: 1rem 0;
    }

}

/* CSS Animations */
@keyframes scroll-to-faq-button-up-and-down {

    0%,
    2.5%,
    97.5%,
    100% {
        margin-top: 0;
    }

    47.5%,
    52.5% {
        margin-top: 1vh;
    }

}