* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background-color: #0B0F0F;
    font-family: sans-serif;
    line-height: 1.2;
}

p {
    font-size: 1.5rem;
}

a {
    color: #ffffff;
}

a:hover,
a:active {
    text-decoration: none;
}

/* Anti TikTok Union Div */
#anti-tiktok-union {
    height: 100vh;
    text-align: center;
    padding-top: 12.5vh;
    padding-bottom: 12.5vh;
}

.anti-tiktok-union-logo {
    width: 25vw;
    height: 25vw;
}

.anti-tiktok-union {
    font-size: 5vw;
}

.a-t-u {
    font-size: 3vw;
}

/* FAQ */
#faq {
    padding: 0 25%;
}

#faq>h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

#faq h3 {
    font-size: 2rem;
}

#faq h4 {
    font-size: 1.75rem;
}

#faq p {
    margin-bottom: 2rem;
}

#faq summary {
    font-size: 1.5rem;
    cursor: pointer;
}

.explaining-the-danger-of-tiktok {
    border: solid 0.1rem;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem 2rem;
    margin-bottom: 2.5rem;
}

.explaining-the-danger-of-tiktok-div {
    padding-top: 2rem;
}

.realMrPerson-youtube-logo {
    margin-bottom: -1rem;
}

.atu-socials {
    text-align: center;
}

.atu-socials>p:first-child {
    margin-top: 1rem;
}

.atu-socials>p:last-child {
    margin-top: -2rem;
}

/* Footer */
footer {
    text-align: center;
    padding: .5rem 15%;
}

footer>p {
    margin: 1.5rem 0;
}